*.geojson filter=lfs diff=lfs merge=lfs -text
output/generators.geojson filter=lfs diff=lfs merge=lfs -text
output/substations.geojson filter=lfs diff=lfs merge=lfs -text
output/lines.geojson filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
output/interactive_map.html filter=lfs diff=lfs merge=lfs -text
